@model XKitchen.ViewModel.ReservationVIewModel

@using (Html.BeginForm("Create", "Reservation", FormMethod.Post, new { id = "create-form", name = "create-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.tableid)
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.guest, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.guest, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.guest, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class=" btn-group btn-group-sm">
                    <input type="button" value="Cancel" class="btn btn-default btn-sm" data-dismiss="modal" />
                    <input type="submit" value="Create" class="btn btn-success btn-sm" />
                </div>
            </div>
        </div>
    </div>

}

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#create-form").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Save Successful" + result.entity.reference);
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("Error!." + result.message)
                }
            }
        });
        return false;
    });

</script>
